*{
    margin: 0;
    padding: 0;
}


.fondo {
    background-color:$bg-color;
    padding: 0;
}

.elementos{
    max-width: 100%;
    height: 25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
