
.img__nav {
    max-width: 12rem;
}

h1 {
    color:$color-titulo;
    text-decoration: underline;
    font-size: 4rem;
}

.nav__title {
    @include titulos('Bangers', $color-titulo);
    justify-content: space-between;
}

.nav {
    justify-content: flex-end;
    
    a {
    font-size: 1.5rem;
    }
}

